<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraping Tool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container p-5">
        <h1>Scrape Product Reviews</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-6">
                                    <label>Enter Product ID</label>
                                    <input type="text" name="item_id" placeholder="https://amazon.com/some-product" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <label>Select Platform</label>
                                    <select name="source" class="form-control">
                                        <option value="amazon">Amazon</option>
                                        <option value="bn">B&N</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label>Select Country for Amazon Reviews</label>
                                    <select name="cntry" class="form-control">
                                         <option value="US">United States</option>
                                        <option value="AU">Australia</option>
                                        <option value="BR">Brazil</option>
                                        <option value="CA">Canada</option>
                                        <option value="CN">China</option>
                                        <option value="FR">France</option>
                                        <option value="DE">Germany</option>
                                        <option value="IN">India</option>
                                        <option value="IT">Italy</option>
                                        <option value="MX">Mexico</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="SG">Singapore</option>
                                        <option value="ES">Spain</option>
                                        <option value="TR">Turkey</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="SE">Sweden</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Fetch Reviews</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {% for review in reviews %}
                            <li>
                                <h3>{{ review.title }}</h3>
                                <p>Rating: {{ review.rating }}</p>
                                <p>{{ review.body }}</p>
                            </li>
                            {% empty %}
                            <li>No reviews found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
